<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/pfForm.css">
        <title>Form</title>
    </head>
    <body>

        <div class="login-box">
            <h2>Form</h2>


            <form method="post" action="/saveData">

                <div class="user-box">
                    <input type="text" id = "name" name="name" required="">
                    <label for = "name">Name</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "post" name="post" required="">
                    <label for = "post">Post</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "phn_no" name="phn_no" required="">
                    <label for = "phn_no">Phone number</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "linkdin_id" name="linkdin_id" required="">
                    <label for = "linkdin_id">Linkdin ID</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "facebook_id" name="facebook_id" required="">
                    <label for = "facebook_id">Facebook ID</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "gmail_id" name="gmail_id" required="">
                    <label for = "gmail_id">Gmail ID</label>
                </div>

                <div class="user-box">
                    <input type="text" id = "twitter_id" name="twitter_id" required="">
                    <label for = "twitter_id">Twitter ID</label>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "education" name="education" required=""> --}}
                    <label for = "about_me">A small intro!</label>
                    <textarea id="about_me" name="about_me" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "education" name="education" required=""> --}}
                    <label for = "education">Education (semicolon seperated)</label>
                    <textarea id="education" name="education" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "experience" name="experience" required=""> --}}
                    <label for = "experience">Experience (semicolon seperated)</label>
                    <textarea id="experience" name="experience" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "currently_teaching" name="currently_teaching" required=""> --}}
                    <label for = "currently_teaching">Currently Teaching (semicolon seperated)</label>
                    <textarea id="currently_teaching" name="currently_teaching" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "research" name="research" required=""> --}}
                    <label for = "research">Research (semicolon seperated)</label>
                    <textarea id="research" name="research" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "publication" name="publication" required=""> --}}
                    <label for = "publication">Publications (semicolon seperated)</label>
                    <textarea id="publication" name="publication" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "supervision" name="supervision" required=""> --}}
                    <label for = "supervision">Supervision (semicolon seperated)</label>
                    <textarea id="supervision" name="supervision" required="" rows="2"></textarea>
                </div>

                <div class="user-box">
                    {{!-- <input type="text" id = "responsibility" name="responsibility" required=""> --}}
                    <label for = "responsibility">Responsibility (Semicolon seperated)</label>
                    <textarea id="responsibility" name="responsibility" required="" rows="2"></textarea>
                </div>
                 <div class="user-box">
                    {{!-- <label>Upload profile picture</label> --}}
                    <input type="file" name="profile-file" required/>
                </div>
                <input type="submit" id="submit" value="Add record">

            </form>
        </div>     
    </body>
</html>